ApuntesLenguajedeMarcas/RELACION4/Ejercicio2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="pedidos">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="pedido">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="cliente">
                            <xs:complexType>
                               <xs:sequence>
                                <xs:element name="nombre" type="xs:string"/>
                                <xs:element name="email" type="xs:string"/>
                                <xs:element name="telefono" type="xs:string"/>
                               </xs:sequence> 
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="codigo" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>