ApuntesLenguajedeMarcas/RELACION4/Ejercicio3.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="calendario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evento" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="titulo" type="xs:string"/>
              <xs:element name="fecha" type="xs:date"/>
              <xs:element name="hora" type="xs:time"/>
              <xs:element name="ubicacion" type="xs:string"/>
              <xs:element name="codigoPostal">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{5}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>