ApuntesLenguajedeMarcas/RELACION4/Ejercicio4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="clase">
<xs:complexType>
    <xs:sequence>
        <xs:element name="alumnos" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="alumno">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="nombre">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:pattern value="[A-Z].*" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>

                                <xs:element name="edad">
                                    <xs:simpleType>
                                        <xs:restriction>
                                            <xs:pattern base="xs:string">
                                                <xs:minInclusive value="6" />
                                                <xs:maxInclusive value="18" />
                                            </xs:pattern>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="nota">
                                    <xs:complexType>
                                        <xs:restriction>
                                            <xs:pattern base="xs:Integer">
                                                <xs:minInclusive value="0" />
                                                <xs:maxInclusive value="10" />
                                            </xs:pattern>
                                        </xs:restriction>
                                        <xs:restriction>
                                            <xs:pattern base="xs:Integer">
                                                <xs:minInclusive value="1" />
                                                <xs:maxInclusive value="5" />
                                            </xs:pattern>
                                        </xs:restriction>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>

                    </xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:sequence>
</xs:complexType>